.storybook
dist
documentation
node_modules
storybook-static
src/assets

**/*.csv
**/*.svg
.DS_Store
*.toml
.browserslistrc
.editorconfig
.gitignore
.prettierignore
.prettierrc.js
LICENSE

*.lock
*.sh
*.md
*.html

