<div class="app">
  <div class="top-bar">
    <div class="safe">
      <span>Animations</span>
      <div>
        <button mat-button>
          <a>Story</a>
        </button>
        <button mat-button>
          <a>Doc</a>
        </button>
        <button mat-button>
          <a href="https://github.com/guobin211/animations" target="_blank" title="Github">Github</a>
        </button>
      </div>
    </div>
  </div>
  <div class="content scroll">
    <div class="main">
      <div class="scroll side-nav">
        <app-side-nav></app-side-nav>
      </div>
      <div class="scroll page-view">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer">
      <footer class="docs-footer">
        <div class="docs-footer-list">
          Angular Animations Canvas
        </div>
      </footer>
    </div>
  </div>
</div>
