<div class="page">
  <div class="title">
    <h1>Canvas Detail</h1>
  </div>
  <div class="row">
    <div class="left">
      <canvas id="m-canvas-canvas" width="500" height="500">
        your browser not support canvas!
      </canvas>
    </div>
    <div class="right">
      <app-my-tabs>
        <lib-ngx-prism [code]="ts" class="ts"></lib-ngx-prism>
        <lib-ngx-prism [code]="html" class="html" lang="html"></lib-ngx-prism>
        <lib-ngx-prism [code]="css" class="css" lang="css"></lib-ngx-prism>
      </app-my-tabs>
    </div>
  </div>
</div>
